data/mysql/*
!data/mysql/.gitkeep
logs/mysql/*
!logs/mysql/.gitkeep
logs/apache2/*
!logs/apache2/.gitkeep
.idea/
.DS_Store
www/*
!www/default/public/index.php
config/vhosts/*
!config/vhosts/default.conf
config/sessions/*
!config/sessions/.gitkeep