// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~@fortawesome/fontawesome-free/css/all.css';

@import "theme";

.landing-background {
    background-image: url("/images/abstract-art-artistic-background-1103970.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
}

.background-black-filter {
    background: rgba(0, 0, 0, 0.3);
}
